/* intuitivnejší box-sizing */

html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}


/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
	font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
*/

body {
    margin: 10px;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 1.6;
}

.cely__bezuvodu {
    background-color: white;
}

h1,
p,
h2 {
    width: 100%;
    padding: 0 20px;
}

p {
    font-family: 'Merriweather', sans-serif;
    top: 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
}

.hlavicka {
    background-image: url("images/island-hlavicka.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    min-height: 500px;
    padding: 30px 50px;
    text-align: center;
}

hr {
    border: none;
    width: 100px;
    height: 1px;
    background-color: white;
}

.jana {
    font-style: italic;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: grey;
}

li {
    border-bottom: 1px solid grey;
}

.foto__telo img,
.img__gal img {
    width: 100%;
}

.cerna {
    background-color: rgba(0, 0, 0, 0.089);
}

.copy {
    text-align: center;
    font-size: 8px;
    top: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h2::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #629fe0;
    display: block;
    left: -20px;
    top: 10px;
    position: relative;
}

.place__gal,
.foto__gal {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 1000;
    width: 100%;
}

.foto__gal {
    font-weight: 300;
}

@media (min-width:480px) {
    .hlavicka {
        min-height: 500px;
        padding: 30px 50px;
    }
    .hlavicka p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .cely__bezuvodu {
        position: relative;
        width: 100%;
        top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
    li {
        border-top: 1px solid grey;
    }
}

@media (min-width:600px) {
    .cely__bezuvodu {
        position: relative;
        top: -80px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu__pc {
        display: flex;
        justify-content: space-between;
    }
    ul {
        flex-direction: column;
    }
    li {
        border-bottom: 1px solid grey;
        border-top: none;
    }
    li:last-child {
        border-bottom: none;
    }
}